$font-family-base: "brandon-grotesque", "helvetica", "sans-serif";
$font-size-base: 1.1rem;

$headings-font-family: "museo-slab";
$headings-font-weight: 500;

$blue: #198de2;
$body-bg-dark: #212121; // or #2b2b2b
$body-color-dark: #dedede;

@import "bootstrap";
@import "reviews";
@import "reviews-light";
@import "reviews-dark";
