$font-family-base: "brandon-grotesque", "helvetica", "sans-serif";
$font-size-base: 1.25rem;

$headings-font-family: "museo-slab";
$headings-font-weight: 500;

$navbar-light-brand-color: #f8337d;
$navbar-dark-brand-color: #f8337d;
$navbar-dark-brand-hover-color: #f8337d;
$blue: #198de2;
$body-bg-dark: #212121; // or #2b2b2b
$body-color-dark: #dedede;

@import "bootstrap";
@import "reviews";
@import "reviews-dark";
