$font-size-base: 1.1rem;

$headings-font-family: "Aleo";
$headings-font-weight: 500;

$blue: #198de2;
$body-bg-dark: #212121; // or #2b2b2b
$body-color-dark: #e3e3e3;

@import "bootstrap";
@import "reviews";
@import "reviews-light";
@import "reviews-dark";
