[data-bs-theme="light"] {
  .navbar-brand {
    color: #f8337d;
  }

  .nav-link .active {
    color: #f8337d;
    font-weight: 600;
  }

  a {
    color: #337ab7;
  }

  a.btn {
    color: white;
  }

  a.nav-link {
    color: black;
  }

  a.nav-link.active {
    color: black;
  }
}
