// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pending-reviews {

}

blockquote.pending-reviews {
  border-color: #DBDBCC;
  background-color: #fff9ef;
  padding: 14px;
  width: 572px;
}
