body {
  font-family: "Aleo";
}

.main-content {
  max-width: 1000px !important;
  min-height: 1000px;
}

nav {
  font-family: "Poppins";
  font-size: 17px;
  font-weight: 400;
  background-color: transparent;
  max-width: 1000px;
  margin: 5px auto 30px;
}

.navbar-brand {
  font-size: 18px;
}

span.name {
  font-weight: 500;
}

.review-list li {
  margin: 5px 0;
}

.review-list li .icon {
  font-size: 13px;
}

.review-list li .btn {
}

td.done {
  background-color: #E1FF94;
}

.edit_review fieldset {
  margin: 25px 0;
}

// This is an overly specific CSS selector (see SMACSS)
textarea {
  width: 100%;
  margin-bottom: 20px;
  display: block;
  min-height: 500px;
}

h2 {
  border-bottom: 4px solid #ff3d84;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
}

a.btn {
  color: white;
}

input[type='checkbox'] {
  display: inline;
}

label {
  margin-left: 5px;
  font-weight: 400 !important;
}

.form-control {
  border: 1px solid #ccc;
}

.save-review-btn {
  margin-top: 15px;
}

.draft-review-btn {
  background-color: orange !important;
  border-color: orange !important;
  margin-top: 15px;
}

.draft-review-btn:hover {
  background-color: darkorange !important;
}

.markdown-logo img {
  width: 25px;
  margin: 0 0 3px 2px;
}

td.user-salary-level {
  width: auto;
}

td.user-salary-level.td-wrap-width {
  width: 1%;
  white-space: nowrap;
  padding-right: 15px;
}

.salary-level {
  font-size: 16px;
  color: #999;
}

.level_summary {
  margin-top: 25px;
}

.comment-button {
  font-size: 14px;
  margin-right: 10px;
  margin-top: 0;
}

.comment {
  border: 1px solid #aaa;
  padding: 20px;
  margin-top: 20px;
}

.comment-author {
  margin-right: 10px;
  vertical-align: middle;
}

.pending-reviews {
  border-left: 4px solid;
  border-color: #DBDBCC;
  background-color: #fff9ef;
  padding: 14px;
  width: 572px;
  margin-bottom: 25px;
}
