<h3>Reviews</h3>


<table class="table table-bordered">
  <thead>
    <tr>
      <th>Person</th>
      <th>Reviews</th>
    </tr>
  </thead>
  <tbody>
    <% User.order(:name).decorate.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td>
          <ul>
            <li>Needs to get reviews from <%= user.needs_reviews_from  %></li>
            <li>Has got reviews from <%= user.got_reviews_from.html_safe  %></li>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
